body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form, table {
    width: 100%;
    margin-top: 10px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

button {
    background-color: #4CAF50; /* Verde claro */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049; /* Verde um pouco mais escuro para o hover */
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.voltarBtn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.voltarBtn:hover {
    background-color: #45a049;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 15px;
    }

    input, button {
        font-size: 14px;
    }

    .voltarBtn {
        font-size: 14px;
        padding: 8px 16px;
    }
}
